/* CSS VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
:root {
  --primary: #023E8A;
  --light: #FFF;
  --dark: 	#ADE8F4;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--light);
  font-family:  'Raleway', sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
  scroll-behavior: smooth;
  overflow-x: clip;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

img {
  max-width: 100%;
}

h1, h2, h4 {
    margin: 0;
}

/* HEADER */
header {
    background-color: var(--primary);
  }

  header .wrapper{
    display: grid;  
    /* grid-gap:5px; */
    grid-template-columns: 1fr 4fr;
  }
  
  .mainLogo {
    width: 110%;
    text-align: center;
    position: relative;
    z-index: 1;
    /* background-image: url(assets/images/Rectangle_98.png);
    background-position: bottom;
    background-size: cover; */
    background-color: var(--primary);
    box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.65);
  }

  .mainLogo a{
    color: var(--light);
    text-decoration: none;
  }

  .subLogo{
      padding: 15px 10px;
  }
  
  .sub-nav {
    color: var(--dark);
    text-align: right;
    padding: 10px;
    margin: 10px;
    font-family: 'Hind', 'sans-serif';
  }
  
  .sub-nav a {
    color: var(--light);
    text-decoration: none;
    padding: 10px;
    /* font-weight:600; */
  }
  
  .sub-nav a:hover {
    color: var(--dark);
    font-weight: bold;
    /* text-decoration: underline; */
  }

  .sub-nav div{
      width: fit-content;   float: right;
  }

  input{
      border: 0;
      background-color: var(--light);
      padding: 8px;
      font-family: 'Hind', 'sans-serif';
    font-weight: bold;
    font-size: 100%;
    color: var(--primary);
  }

  input::placeholder{
    color: var(--primary);
  }

  input:focus{
      outline: 0;
  }

  .sub-nav button{
    padding: 8px 15px;
    color: var(--primary);
    font-weight: bold;
    /* margin-right: 20px; */
    font-size: 98%;
    box-shadow:2px 2px 2px 2 rgba(0,0,0,0.95); 
  }

  /* .sub-nav button:after{
    content: '\02795';
    color: var(--primary);
    padding-left: 60px;
  }

  .active:after{
    content: '\2796';
  } */

  #menu {
    display: none;
    position: absolute;
    background-color: #222;
    width: 193px;
    z-index: 1;
    text-align: center;
    box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.95);
    animation:  growDown 200ms ease;
    transform-origin: top center
 }

 #menu a{
     display: block;
     margin: 0 10px;
    color: var(--light);
    border-bottom: 1px solid rgba(255, 255, 255, 0.548);
 }

 #menu a:hover{
     background-color: var(--light);
     color: var(--primary);
 }

 .main-nav {
  background-color: var(--light);
  margin-top: -80px;
  font-family: 'Hind', 'sans-serif';
}

.bar .icon {
  display: none;
}

.bar {
  margin-left: 35%;
  width: 55%;
  display: grid;
  grid-template-columns: repeat(7,auto);
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  overflow: hidden;
}

.main-nav a{
  color: var(--primary) !important;
      padding: 10px 5px;  
}

.main-nav a:hover {
  text-underline-offset: 5px; 
  /* text-transform: uppercase; */
}

  /* .dropdown {
    position: relative; 
    display: inline-block;
  } */

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light);
    margin-top: 10px;
    width: 50%;
    right:11%;
    box-shadow: 0px 0px 16px 2px rgba(255, 255, 255, 0.2);
    z-index: 1;
    padding: 10px;
    animation:  growDown 200ms ease-in-out forwards;
    transform-origin: top center;
  } 

  @keyframes growDown {
    0% { transform: scaleY(0) }
    100% { transform: scaleY(1) }
}

  .dropdown-content h4{
    background-color: var(--primary);
    color: var(--light);
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .dropdown-content a {
    text-decoration: none;
    display: block;
    margin-top: -10px;
    color: var(--primary);
    /* font-weight: 400; */
  }

  .dropdown-content a:hover {
    background-color: var(--light);
    color: var(--primary);
    text-decoration: underline;
  }

  .dropdown-content div{
    margin: 0 10px;
  }
  
  .dropdown:hover .dropdown-content {display: grid;}

  .slides{
    scroll-behavior: smooth;
      object-fit: cover;
    height: 70%;
    width: 100%;
    animation: slide 25s infinite;
    
  }

  .slide:nth-child(2) {
    animation-delay: 5s;
  }
  .slide:nth-child(3) {
    animation-delay: 10s;
  }
  .slide:nth-child(4) {
    animation-delay: 15s;
  }
  .slide:nth-child(5) {
    animation-delay: 20s;
  }

    @keyframes slide {
      10% { opacity: 1; }
      20% { opacity: 1; }
      30% { opacity: 0; }
      40% { transform: scale(1.1); }
  }


/* MAIN CONTAINER */

.news{
    padding: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 70px;
}
.news a{
    color: var(--light);
    text-decoration: none;
    padding: 0 10px;
}
.news a:hover {
  color: var(--dark);
  font-weight: bold ;
}

.buttons {
  position: relative;
    margin: -50px auto -80px auto;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    z-index: 1;
    text-align: center;
    /* font-weight: bold; */
}

.buttons a{
    background-color: var(--light);
    color: var(--primary);
    border-radius: 0px;
    width: 130px;
    height: 120px;
    box-shadow: 2px 2px 4px 0px var(--primary);
    text-decoration: none;
}

.buttons a:hover{
  background-color: var(--primary);
  color: var(--light);
  outline: 2px solid var(--dark);
}

.buttons div{
    padding: 17px 0;
    margin: auto 0;
}

.buttons h4{
    padding-top: 15px;
    line-height: 1;
    font-family: 'Hind', 'sans-serif';
}

.notice {
    background-image: url(assets/images/blue\ bbg.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}

.notice .wrapper{
    padding: 130px 0 50px 0;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-column-gap: 20px;
}

.reveal{
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.now{
  transform: translateY(0);
  opacity: 1;
}
/* .notice a{ text-decoration: none; } */

.box{
    background-color: var(--light);
    color: var(--primary);
    box-shadow: 0px 0px 4px 0px #023E8A;
    padding: 10px;
    /* height: auto; */
}

button{
    font-family: 'Hind', sans-serif;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    color: var(--dark);
    background-color: var(--primary);
}

button a{
  text-decoration: none;
  color: var(--dark);
}

.box button{
    padding: 10px 30px;
}

.tab{
    /* padding: 10px; */
    /* position: relative; */
    overflow: auto;
    height: 220px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* grid-gap: 5px; */
}

.active{
    color: var(--primary);
    background-color: var(--light);
}

.tab2{
    /* padding: 0 20px; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 220px;
    overflow: auto;
}


.tab a, .tab2 a{
    /* font-family: 'Hind', sans-serif; */
    color: black;
    padding: 5px;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}

.tab>a:nth-child(even), .tab2>a:nth-child(even) {
  margin:auto 0;
  font-size: 95%;
  font-family: 'Hind', 'sans-serif';
  font-weight: medium;
  line-height: 1.2;
text-decoration: none;
}

.tab>a:nth-child(odd), .tab2>a:nth-child(odd) {
  font-weight: bold;
  font-size: 85%;
  text-align: center;
  margin: auto 5px;
  background-color: var(--dark);
  color: var(--primary);
}

.about {
    text-align: center;
    background-image: url(assets/images/blue\ bg.png);
    background-size: cover;
}

.about .wrapper{
padding: 60px;
}

.about h1{
  overflow: hidden; 
  white-space: nowrap; 
  margin: 20px auto; 
  /* letter-spacing: .15em;  */
  animation: typing 3.5s steps(50, end) infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* .about h1::after{
  animation: 
    erasing 3.5s steps(40, end) infinite;
}
@keyframes erasing {
  from { width: 100% }
  to { width: 0 }
} */

h2{
  font-size: 300%;
}

#chart {
  margin:auto;
  display: grid;
  width: fit-content;
  padding-bottom: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 130%;
  font-family: 'Hind', sans-serif;
}

#chart div {
  /* border: 2px solid var(--light); */
  /* margin: auto; */
  padding: 5px;
  /* margin: 0 5px; */
}

#chart p {margin: 0}

.grid{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid div{
    border-radius: 2px;
    margin: 10px;
    box-shadow: 4px 4px 4px 0px #00000040;
    /* cursor: pointer; */
}

.grid h4{
    margin: 10px;  
    /* font-weight: normal;  */
}

.grid a{
  /* font-family: 'Hind', 'sans-serif'; */
    margin: 10px 5px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: left;  
    text-decoration: none;
    color: var(--primary);
}

.grid a:hover{
    text-decoration: underline;
    text-underline-offset: 5px; 
    cursor: pointer;
}

iframe {margin: auto; height: 100%; width: 100%; border-radius: 2px;}

#gallery  {
  background-image: url(assets/images/image_102.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
#gallery a{ color: var(--light); }


/* LINKS */
.link {
  background-color: #222;
  font-size: 90%;
  padding: 30px 10px;
  font-family: 'Hind', sans-serif;
}

.link ul {
  list-style: "\â¯  ";
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  padding-bottom: 10px;
}

.link li{
  padding: 5px 0;
}

.link a {
  color: var(--dark);
  text-decoration: none;
  
}

.link a:hover {
  color: var(--light);
  text-decoration: underline;
  text-underline-offset: 5px; 
}

.logos a{
  color: var(--light);
  padding: 5px;
  font-size: 85%;
}




/* FOOTER */
footer {
    /* display: inline; */
    font-family: 'Hind', 'sans-serif';
    font-size: 90%;
    margin: -15px 0;
    padding: 15px;
  text-align: center;
  background-color: black;
}


/* MEDIA QUERIES */

@media(min-width:981px) and (max-width: 1280px) {
  .main-nav{ width: 100%;}
  .slides {height: 65%;}
  .tab2 { grid-template-columns: 1fr 2.5fr;}
  .bar {width: 55%; margin-left: 33%;}
}

@media(max-width: 980px) {

  .mainLogo{ width:150% }
  .sub-nav{ margin-left: 15%; display: inline-block;}
  .wrapper{width: 90%;}
  .main-nav{ width: 100%; margin-top: 0px; }
  nav div{ margin-bottom: 10px; }

  .bar {
    width: 90%;
    margin: 0 auto;
  }
  .bar a{
    /* width: fit-content; */
    margin: 0;
  }
  .box button{
    padding: 10px;
}

  .slides{height: 50%;}

  .buttons .svg-inline--fa{
    font-size: 40px !important;
  }

  .buttons a{
    font-size: 80%;
    width: 100px;
    height: 100px;
  }

  .about .wrapper{
    font-size: 85% !important;
    padding: 60px 0;
  }

  #mirror{
    width: 200px !important;
  }
/* 
  iframe{
    width: 380px !important;
    height: 203px;
  } */
  .grid{
    grid-template-columns: 1fr 1fr;
  }

}

@media(max-width: 720px) {
  #menu{
    margin: 0 -10px!important;
  }
  header .wrapper{ width: 100%;}

  .mainLogo{ width:175% }
  .sub-nav{ margin-left: 25%; }
  
  #click{ margin: 0 -10px; }

  .bar { text-align: center;}
  .dropdown-content{ width: 80%; right: 5%;}

  .notice .wrapper{
    grid-template-columns: auto;
  }
  .box { margin: 10px 0; }
  .box button {
    padding: 10px 30px;
  }

  .buttons {
    grid-template-columns: auto auto auto;
      margin: -50px auto -104px auto;
  }

  .grid{
    grid-template-columns: 1fr;
  }
  .grid a{ margin: 5px 10px;}
  /* .grid h4 { text-align: ;} */

  #gallery{
    height: 250px;
  }
  .link .wrapper {
    width: 90%;
    grid-template-columns: auto auto auto;
  }
  .link .wrapper div:first-child {
   /* width: 100%; */
   grid-column: 1/4;  
 }
 iframe{height: 240px;}
 
 .link ul~div{
   margin: 0;
 }
  footer { padding: 20px 50px; }
}

@media(max-width: 560px) {

  .subLogo {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 20px;
  }

  .subLogo img{ width: 80px !important;}

  #menu{
    margin: 0!important;
    width: 185px;
  }
/* 
  #chart {
    grid-template-columns: auto auto;
  } */

  body{
    font-size: 90%;
  }
  .mainLogo{
    position: static;
    width: 100%;
    box-shadow: none;
  }
  header .wrapper { display: inline;}
  .sub-nav{ margin: 0; text-align: center;}
  nav{ display: inline-block; }
  #click{ margin: 0; }

  .about {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }

  .about .wrapper{ padding: 20px 0; }

  .bar {padding: 20px;}
  .bar span  {display: none;}
  .bar a.icon {
    position: absolute;
    right: 10;
    margin-top: -17px;
    padding: 10px;
    display: block;
    color: var(--primary);
  }

  .bar a.icon:focus {color: var(--dark); }

  .bar.responsive {
    position: relative;
    grid-template-columns: auto;
    text-align: left;
    }
  .bar.responsive .icon {
    content: X;
    position: absolute;
    right: 10;
    top: 20;
  }
  .bar.responsive span {
    float: none;
    display: block;
    position: static; 
    grid-template-columns: auto auto !important;
    width: 100%;
  /* margin-left: -5px;   */
    margin: 5px -5px 5px 0;
  }

  .bar.responsive span > span {
    float: none;
    display: none;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid;
  }

  .bar.responsive a { margin: -10px 0; width: auto; font-weight: bold;}

  .bar.responsive span > span > div > div {grid-template-columns: auto !important;}

  .main-nav{
    width: 100%;
  }

  .box button{
    padding: 10px 15px;
  }
  .tab {
    grid-template-columns: 1fr 3fr;
  }
  /* iframe{
    height: 100%z;
  } */
  input{
    width: 45vw;
  }
}

@media(max-width: 480px) {
  input{
    width: 34vw;
  }
  .slides{
    height: 35%;
 }
}

@media(max-width: 400px) {

  input{
    width: 145px;
  }
  .sub-nav {
    text-align: center;
    /* margin: auto !important; */
  }
  .sub-nav div {
    width: max-content;
    margin: 10px 47.5%!important;
    float: none;
  }

  .box button{
    padding: 9.5px ;
  }

  .slides{
     height: 25%;
  }

.about .wrapper {
  margin: auto;
  width: 90%;
}

.dropdown-content div {
  margin: 0px;
}
.dropdown-content h4 {
  margin-top: 10px;
}

.bar.responsive{ text-align: center; }
.bar.responsive a { width: auto; text-align: left;}
.bar.responsive span {
  width: 100%;
  margin-left: -5px;
  grid-template-columns: auto !important;
}

/* .grid div {
  width: min-content;
  height: auto;
} */

.about p{
  margin: 0 20px;
}
 /* iframe{
   height: 200px !important;
   width: 250px !important;
 } */
.link .wrapper{ margin-left: -15px; }
}

@media(max-width: 320px) {
  .sub-nav div {
    margin: 10px 35%!important;
  }
  .box button{
    width: 100%;
  }

  .buttons .svg-inline--fa{
    font-size: 30px !important;
  }

  .buttons a{
    font-size: 70%;
    width: 80px;
    height: 90px;
  }
}