/* CSS VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
:root {
  --primary: #023E8A  ;
  --light: #FFF;
  --dark: 	#ADE8F4;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--light);
  font-family:  'Raleway', sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
}

img {
  max-width: 100%;
}

h1 {
  padding-top: 60px;  
}
h2, h4 {
    margin: 0;
}

/* HEADER */
header {
    background-color: var(--primary);
  }

  header .wrapper{
    display: grid;  
    /* grid-gap:5px; */
    grid-template-columns: 1fr 4fr;
  }
  
  .mainLogo {
    text-align: center;
    position: relative;
    /* background-image: url(assets/images/Rectangle_98.png);
    background-position: center;
    background-size: cover; */
    background-color: var(--primary);
    box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.65);
  }

  .subLogo{
      padding: 10px;
  }
  
  .sub-nav {
    color: var(--dark);
    text-align: right;
    padding: 10px;
    margin: 10px;
    font-family: 'Hind', 'sans-serif';
  }
  
  .sub-nav a {
    color: var(--light);
    text-decoration: none;
    padding: 10px;
    /* font-weight:600; */
  }
  
  .sub-nav a:hover {
    color: var(--dark);
    font-weight: bold;
    /* text-decoration: underline; */
  }

  .sub-nav div{
      width: fit-content;   float: right;
  }

  input{
      border: 0;
      background-color: var(--light);
      padding: 8px;
      font-family: 'Hind', 'sans-serif';
    font-weight: bold;
    font-size: 100%;
    color: var(--primary);
  }

  input::placeholder{
    color: var(--primary);
  }

  input:focus{
      outline: 0;
  }

  .sub-nav button{
    padding: 8px 15px;
    color: var(--primary);
    font-weight: bold;
    /* margin-right: 20px; */
    font-size: 98%;
    box-shadow:2px 2px 2px 2 rgba(0,0,0,0.95); 
  }

  /* .sub-nav button:after{
    content: '\02795';
    color: var(--primary);
    padding-left: 60px;
  }

  .active:after{
    content: '\2796';
  } */

  #menu {
    display: none;
    position: absolute;
    background-color: #222;
    width: 193px;
    z-index: 1;
    text-align: center;
    box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.95);
    animation:  growDown 200ms ease;
    transform-origin: top center
 }

 #menu a{
     display: block;
     margin: 0 10px;
    color: var(--light);
    border-bottom: 1px solid rgba(255, 255, 255, 0.548);
 }

 #menu a:hover{
     background-color: var(--light);
     color: var(--primary);
 }

 .main-nav {
  background-color: var(--light);
  margin-top: -100px;
  font-family: 'Hind', 'sans-serif';
}

.bar .icon {
  display: none;
}

.bar {
  margin-left: 30%;
  width: 55%;
  display: grid;
  grid-template-columns: repeat(7,auto);
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  overflow: hidden;
}

.main-nav a{
      padding: 10px 5px;  
}

.main-nav a:hover {
  background-color: var(--primary);
  color: var(--dark);
}

  /* .dropdown {
    position: relative; 
    display: inline-block;
  } */

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light);
    /* text-align: center; */
    margin-top: 10px;
    width: 50%;
    right:15%;
    box-shadow: 0px 0px 16px 2px rgba(255, 255, 255, 0.2);
    z-index: 1;
    padding: 10px;
    /* transition: 2s ease; */
    animation:  growDown 200ms ease-in-out forwards;
    transform-origin: top center
    /* border: ; */
  } 

  @keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

  .dropdown-content h4{
    background-color: var(--primary);
    color: var(--light);
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .dropdown-content a {
    text-decoration: none;
    display: block;
    margin-top: -10px;
    /* font-weight: 400; */
  }

  .dropdown-content a:hover {
    background-color: var(--light);
    color: var(--primary);
    text-decoration: underline;
  }

  .dropdown-content div{
    margin: 0 10px;
  }
  
  .dropdown:hover .dropdown-content {display: grid;}

  .slides{
      object-fit: cover;
    height: 72%;
    width: 100%;
  }


/* MAIN CONTAINER */

.news{
    padding: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 70px;
}
.news a{
    color: var(--light);
    text-decoration: none;
    padding: 0 10px;
}
.news a:hover {
  color: var(--dark);
  font-weight: bold ;
}

.buttons {
    margin: -50px auto -80px auto;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    text-align: center;
    /* font-weight: bold; */
}

.buttons a{
    background-color: var(--light);
    color: var(--primary);
    border-radius: 0px;
    width: 130px;
    height: 120px;
    box-shadow: 2px 2px 4px 0px #023E8A;
}

.buttons div{
    padding: 17px 0;
    margin: auto 0;
}

.buttons h4{
    padding-top: 15px;
    line-height: 1;
    font-family: 'Hind', 'sans-serif';
}

.notice {
    background-image: url(assets/images/blue\ bbg.png);
    background-size: cover;
}

.notice .wrapper{
    padding: 130px 0 50px 0;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-column-gap: 20px;
}

.box{
    background-color: var(--light);
    color: var(--primary);
    box-shadow: 0px 0px 4px 0px #023E8A;
    padding: 10px;
    /* height: auto; */
}

button{
    font-family: 'Hind', sans-serif;
    font-size: 110%;
    cursor: pointer;
    border: 0;
    color: var(--dark);
    background-color: var(--primary);
}

.box button{
    padding: 10px 30px;
}

.tab{
    padding: 10px;
    overflow: auto;
    height: 230px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    /* grid-gap: 5px; */
}

.active{
    color: var(--primary);
    background-color: var(--light);
}

.tab2{
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 250px;
}


.tab a, .tab2 a{
    /* font-family: 'Hind', sans-serif; */
    font-size: 90%;
    color: black;
    padding: 5px;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}

.about {
    text-align: center;
    background-image: url(assets/images/blue\ bg.png);
    background-size: cover;
}

.about .wrapper{
padding: 60px;
}

.grid{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 25px; */
}

.grid div{
    border-radius: 2px;
    margin: 10px;
    box-shadow: 4px 4px 4px 0px #00000040;
    cursor: pointer;
}

.grid h4{
    padding: 5px;
}

.grid a{
    margin: 5px 40px;
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
}
.grid a:hover{
    outline: var(--primary) 2px solid;
    border-radius: 2px;
    cursor: pointer;
}

#mirror{
  width: 480px;
}

/* LINKS */
.link {
  background-color: #222;
  font-size: 90%;
  padding: 30px 10px;
  font-family: 'Hind', sans-serif;
}

.link ul {
  list-style: "\â¯  ";
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
  padding-bottom: 10px;
}

.link li{
  padding: 5px 0;
}

.link a {
  color: var(--dark);
  text-decoration: none;
  
}

.link a:hover {
  color: var(--light);
  text-decoration: underline;
}

.logos a{
  padding: 5px;
  /* font-size: 90%; */
}

.logo {
  /* color: var(--dark); */
  background-color: #222;
}

/* FOOTER */
footer {
    /* display: inline; */
    margin: -15px 0;
    padding: 15px;
  text-align: center;
  background-color: black;
}


/* MEDIA QUERIES */

@media(max-width: 900px) {

  .mainLogo{ width:150% }
  .sub-nav{ margin-left: 10%;}

  header .wrapper{ width: 90%; }
  .notice .wrapper{ width: 90%; }
  .main-nav{ width: 100%; margin-top: 0px; }
  .news { width: 90%; }

  .bar {
    width: 90%;
    margin: 0 auto;
  }
  .bar a{
    /* width: fit-content; */
    margin: 0;
  }
  .box button{
    padding: 10px;
}

  .slides{height: 40%;}

  .buttons .svg-inline--fa{
    font-size: 40px !important;
  }

  .buttons a{
    font-size: 80%;
    width: 100px;
    height: 100px;
  }

  .about .wrapper{
    width: 80%;
    font-size: 85% !important;
  }

  #mirror{
    width: 200px !important;
  }

  iframe{
    width: 360px;
    height: 280px;
  }
  .grid{
    grid-template-columns: 1fr 1fr;
  }

}

@media(max-width: 700px) {
  #menu{
    margin: 0 -10px!important;
  }
  header .wrapper{ width: 100%;}

  .mainLogo{ width:175% }
  .sub-nav{ margin-left: 25%; }
  nav{ display: inline-block; }
  nav div{ margin-bottom: 10px; }
  #click{ margin: 0 -10px; }

  .bar { text-align: center;}
  .dropdown-content{ width: 80%; right: 5%;}

  .notice .wrapper{
    grid-template-columns: auto;
  }
  .box { margin: 5px 0; }
  .box button {
    padding: 10px 30px;
  }

  .buttons {
    grid-template-columns: auto auto auto;
      margin: -50px auto -104px auto;
  }

  .grid{
    grid-template-columns: 1fr;
  }
  .grid a{ margin: 5px 10px;}
  .grid h4 { margin: auto;}

  #gallery{
    height: 250px;
  }
  .link .wrapper {
    width: 90%;
    grid-template-columns: auto auto;
  }
  footer { padding: 20px 50px; }
}

@media(max-width: 500px) {

  #menu{
    margin: 0!important;
    width: 185px;
  }

  body{
    font-size: 90%;
  }
  .mainLogo{
    position: static;
    width: 100%;
    box-shadow: none;
  }
  header .wrapper { display: inline;}
  .sub-nav{ margin: 0; text-align: center;}
  nav{ display: inline-block; }
  #click{ margin: 0; }

  .about .wrapper{ padding: 20px 0; }

  .bar span  {display: none;}
  .bar a.icon {
    padding: 10px;
    display: block;
    margin: 5px 0;
  }

  .bar.responsive {
    position: relative;
    grid-template-columns: auto;
    text-align: left;
    }
  .bar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .bar.responsive span {
    float: none;
    display: block;
    position: static;
    grid-template-columns: auto auto !important;
    width: 100%;
  /* margin-left: -5px;   */
    margin: 5px -5px 5px 0;
  }

  .bar.responsive span > span {
    float: none;
    display: none;
    text-align: left;
    color: var(--light);
    background-color: var(--primary);
    font-weight: normal;
  }

  .bar.responsive h4{
    background-color: var(--light);
    color: var(--primary);
  }

  .bar.responsive a { margin: -10px 0; width: auto;}

  .bar.responsive span > span > div >div {grid-template-columns: auto !important;}

  .main-nav{
    width: 100%;
  }

  .box button{
    padding: 10px 15px;
  }
  .tab {
    grid-template-columns: 1fr 3fr;
  }
  iframe{
    height: 200px;
    width: 250px;
  }
  input{
    width: 188px;
  }
}

@media(max-width: 450px) {
  input{
    width: 34vw;
  }
}

@media(max-width: 400px) {

  input{
    width: 145px;
  }
  .sub-nav {
    text-align: center;
    /* margin: auto !important; */
  }
  .sub-nav div {
    width: max-content;
    margin: 10px 47.5%!important;
    float: none;
  }

  .box button{
    padding: 9.5px ;
  }

  .slides{
     height: 30%;
  }

.about .wrapper {
  margin: auto;
  width: 90%;
}

.dropdown-content div {
  margin: 0px;
}
.dropdown-content h4 {
  margin-top: 10px;
}

.bar.responsive{ text-align: center; }
.bar.responsive a { margin: -5px 0; width: auto; text-align: left;}
.bar.responsive span {
  width: 100%;
  margin-left: -5px;
  grid-template-columns: auto !important;
}

/* .grid div {
  width: min-content;
  height: auto;
} */

.about p{
  margin: 0 20px;
}
 iframe{
   height: 200px;
   width: 250px;
 }
 .link .wrapper {
  /* width: 100%; */
  grid-template-columns: auto;
}

.link ul~div{
  margin: 0;
}
}

@media(max-width: 350px) {
  .sub-nav div {
    margin: 10px 35%!important;
  }
  .box button{
    width: 100%;
  }

  .buttons .svg-inline--fa{
    font-size: 30px !important;
  }

  .buttons a{
    font-size: 70%;
    width: 80px;
    height: 90px;
  }
}